.bakery{

    padding:120px 10%;

    text-align:center;

    background:white;
}

.bakery h2{

    font-family:'Playfair Display', serif;

    font-size:3rem;

    color:var(--dark-brown);

    margin-bottom:50px;
}

.bakery-cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:30px;
}

.bakery-card{

    background:white;

    border-radius:25px;

    overflow:hidden;

    box-shadow:var(--shadow);

    transition:0.4s;
}

.bakery-card:hover{

    transform:
    translateY(-10px);
}

.bakery-card img{

    width:100%;

    height:260px;

    object-fit:cover;

    transition:0.4s;
}

.bakery-card:hover img{

    transform:scale(1.05);
}

.bakery-card h3{

    margin-top:20px;

    color:var(--dark-brown);
}

.bakery-card p{

    padding:15px 20px 25px;

    color:#666;
}