.hero{

    display:flex;
    align-items:center;
    justify-content:center;

    gap:80px;

    min-height:90vh;

    padding:80px 10%;

    background:
    linear-gradient(
        135deg,
        var(--cream),
        var(--beige)
    );
}

.hero-left{
    flex:1;
}

.welcome{

    color:var(--brown);

    font-weight:600;

    letter-spacing:4px;

    margin-bottom:20px;
}

.hero-left h1{

    font-family:'Playfair Display', serif;

    font-size:5rem;

    line-height:1.1;

    color:var(--dark-brown);

    margin-bottom:25px;
}

.description{

    font-size:1.15rem;

    line-height:1.8;

    color:#666;

    max-width:550px;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.menu-btn{

    background:var(--brown);

    color:white;

    border:none;

    padding:16px 30px;

    border-radius:12px;

    cursor:pointer;

    transition:0.3s;
}

.menu-btn:hover{

    transform:translateY(-3px);
}

.story-btn{

    background:white;

    color:var(--dark-brown);

    border:2px solid var(--brown);

    padding:16px 30px;

    border-radius:12px;

    cursor:pointer;

    transition:0.3s;
}

.story-btn:hover{

    transform:translateY(-3px);
}

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;
}

.hero-right img{

    width:100%;

    max-width:550px;

    height:650px;

    object-fit:cover;

    border-radius:30px;

    box-shadow:var(--shadow);

    transition:0.4s;
}

.hero-right img:hover{

    transform:scale(1.03);
}

@media (max-width:768px){

    .hero{

        flex-direction:column;

        text-align:center;

        gap:40px;
    }

    .hero-left h1{

        font-size:3rem;
    }

    .description{

        margin:auto;

        margin-bottom:30px;
    }

    .hero-buttons{

        justify-content:center;
    }

    .hero-right img{

        height:auto;
    }
}