.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(248,244,239,0.95);

    position:sticky;
    top:0;

    z-index:1000;

    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(0,0,0,0.05);
}

.logo{
    font-size:2rem;
    color:var(--dark-brown);
    font-weight:700;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:var(--dark-brown);

    font-weight:500;

    transition:0.3s;
}

.nav-links a:hover{
    color:var(--brown);
}

.reserve-btn{

    background:var(--pink);

    color:var(--dark-brown);

    border:none;

    padding:12px 22px;

    border-radius:12px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.reserve-btn:hover{

    transform:translateY(-3px);

    background:#e4c0ba;
}